


<header class="clearfix">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#majorMenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs">منوی اصلی</a>
        </div>
        <div class="navbar-collapse collapse" style="height: 1px;" id="majorMenu">
            <ul class="nav navbar-nav">
                <li class="active"><a href="">صفحه اصلی</a></li>
                <li><a href="">تازه ها</a></li>
                <li><a href="">تماس با ما</a></li>
                <li><a href="">درباره ما</a></li>
                <li><a href="">ثبت نام</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control frontSearch" placeholder="عبارت مورد نظر" />
                </div>
                <button type="submit" class="btn btn-info">بگرد</button>
            </form>
        </div>
    </div>


    <div class="container-fluid " style="background:black;height:160px;padding-top:40px;">
        <div class="col-lg-12 col">
            <h1 style="color:white;">وب سایت من</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <section class="navbar navbar-static-top navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#SecondMenu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-xs">دسته بندی موضوعی</a>
                </div>
                <ul class="nav navbar-nav collapse navbar-collapse" id="SecondMenu">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">پروژه ها <span class="caret"></span></a>
                        <ul class="dropdown-menu rtl" role="menu" aria-labelledby="dropdownMenu">
                            <li><a href="" tabindex="-1">سی شارپ</a></li>
                            <li><a href="" tabindex="-1">طراحی سایت ام وی سی</a></li>
                            <li><a href="" tabindex="-1">اندروید</a></li>
                            <li><a href="" tabindex="-1">پی اچ پی</a></li>
                            <li class="divider"></li>
                            <li><a href="" tabindex="-1">تمام پروژه ها</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="">اخبار فناوری اطلاعات <span class="caret"></span></a>
                    </li>
                    <li>
                        <a href="">آموزش ها <span class="caret"></span></a>
                    </li>
                    <li>
                        <a href="">بازخورد ها <span class="caret"></span></a>
                    </li>
                    <li><a href="">وبلاگ</a></li>
                </ul>
            </section>
        </div>
    </div>
</header>
